<div class="row">
  <div class="small-12 columns">
		<h1>Posts#Edit:</h1>
	</div>
</div>
<div class="row content">
  <div class="small-6 columns">
    <br>
    <%= form_for(@post) do |f| %>
		  <div class="field"> 
		    <%= f.text_area :title %> 
		    <%= f.text_area :text %> 
	    </div> 
		  <div class="actions"> 
		    <%= f.submit "Update", class: "button info" %> 
		  </div> 
		<% end %>
	</div>
	<div class="small-6 columns f-box">
		<h2 id="convert_post_title"></h2>
			<p class="convert-text" id="convert_post_text"></p> 
	</div>
</div>

<script type="text/javascript">
 //  $("#convert_post_title").text($('#post_title').val());
	// $("#convert_post_text").append(markdown.toHTML($('#post_text').val(), 'Maruku'));

	// $(function(){
 //  		$('#post_title').keyup(function(){
 //     		$('#convert_post_title').text($(this).val());
 //  		});
	// });
	// $(function(){
 //  		$('#post_text').keyup(function(){
 //  			$("#convert_post_text").empty();
	// 		$("#convert_post_text").append(markdown.toHTML($('#post_text').val(), 'Maruku'));
 //  		});
	// });
</script>