<div class="row">
	<br>
	<% if current_user.id == @post.user_id  %>
		<span class="swich">
			<%= link_to "Edit", edit_post_path(@post) %> | <%= link_to "Delete", @post, method: :delete, data: { confirm: "Are you sure?" } %>
		</span>
	<% end %>
	<div class="small-12 columns">
		<%= render partial: "post_box", locals: {post: @post} %>
	</div>
</div>