/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation
 */

$basic-color: #333;
$blue-color: #008CBA;
$main-opacity: .83;

* {
	margin: 0;
}
html, body {
	height: 100%;
}

.head {
	border-bottom: 3px solid $blue-color;
	padding-bottom: 15px;
}
	.head-title {
		padding-top: 35px;
		a {
			padding-left: 7px;
			color:$basic-color;	
			font-size: 2.2em;
			border-left: 3px solid $basic-color;
		}	
	}

	.logo {
		text-align: center;
	    img {
	    	opacity: $main-opacity;
	    }
		h3 {
			display:inline;
			vertical-align: middle;
			font-size: 3.2em;
			color:$basic-color;
		}
	}

	.head-authentication {
		text-align: right;
		padding-top: 37px;
		span {
			color:$basic-color;	
			font-size: 1.6em;
			a {
				color:$blue-color;	
				font-size: 1em;
			}
		}
		a {
			color:$basic-color;	
			font-size: 1.6em;
		}	
	}

.post {
	background:#eef;
	padding: 20px;
	border-left: 3px solid #bbb;
}

.comment {
	background:#eef;
	padding: 20px;
	margin: 5px;
	margin-left: 45px;
	margin-bottom: 25px;
	border-left: 2px solid #bbb;
}

.notice, .alert {
	border-left: 2px solid $basic-color;
	padding-left: 8px;
	color:$blue-color;	
	font-size: 1.2em;
}

/*------------------------- effects ------------------------*/

.block-shadow-2 {
  position: relative;
}
.block-shadow-2:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

.footer-message div{
	position:fixed;
	bottom:0;

  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}