/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require foundation
 */

$basic-color: #333;
$blue-color: #008CBA;
$light-blue-color: #b7e0d2;
$main-opacity: .83;

* {
	margin: 0;
}
html, body {
	height: 100%;
}
a:focus {
    outline: 0;
}

.head {
	border-bottom: 3px solid $blue-color;
	padding-bottom: 15px;
}
	.head-title {
		padding-top: 35px;
		a {
			padding-left: 7px;
			color:$basic-color;	
			font-size: 2.2em;
			border-left: 3px solid $basic-color;
		}	
	}

	.logo {
		text-align: center;
	    img {
	    	opacity: $main-opacity;
	    }
		h3 {
			display:inline;
			vertical-align: middle;
			font-size: 3.2em;
			color:$basic-color;
		}
	}

	.head-authentication {
		text-align: right;
		padding-top: 37px;
		span {
			color:$basic-color;	
			font-size: 1.6em;
			a {
				color:$blue-color;	
				font-size: 1em;
			}
		}
		a {
			color:$basic-color;	
			font-size: 1.6em;
		}	
	}

.title-link, .swich {
	color: $basic-color;
	font-size: 2em;
	margin: 5px;
	padding-bottom: 30px;
}

.swich {
	float: right;
	font-size: 1.4em;
}

.behind-page{	margin-top: 25px;	}

.content {
	margin-top: 10px;	
	padding: 5px;
	background: #eee;
	border-top: 2px solid #aaa;
	border-bottom: 1px solid #aaa;
}

.post {
	opacity: .8;
	padding: 20px;
	border-left: 3px solid #333	;
	margin-top: 4px;

	-webkit-box-shadow: 0px -5px 10px -7px rgba(0,0,0,0.63);
	-moz-box-shadow: 0px -5px 10px -7px rgba(0,0,0,0.63);
	box-shadow: 0px -5px 10px -7px rgba(0,0,0,0.63);
}

.post-info {
	a {
		color: $basic-color;
	}
	span {
		float: right;
	}
}

.add-opacity {
	opacity: .43;
}

.comments-wrapper {
	display: none;
}
	.comments-head {
		background: $light-blue-color;
		padding: 10px;
		margin: 5px 0 5px 0;
		span:nth-child(2) {
			float: right;
		}
		
		-webkit-box-shadow: inset 0px 4px 10px -7px rgba(0,0,0,0.63);
		-moz-box-shadow: inset 0px 4px 10px -7px rgba(0,0,0,0.63);
		box-shadow: inset 0px 4px 10px -7px rgba(0,0,0,0.63);
	}

	.comment {
		background: $light-blue-color;
		padding: 20px;
		margin: 5px 5px 13px 30px ;
		border-left: 1px solid #bbb;
		box-shadow: -2px 0px 2px 1px #bbb;
		hr{
			border-color:#F8F6F6;
		}
	}

.comment-text {
	span {
		float: right;
	}
}

.comment-form {
	border-top: 1px solid #999;
	margin-top: 14px;
	padding: 5px;
	padding-top: 20px;
	display: none;
}

.f-box {
	border-left: 1px solid #aaa;
	padding: 10px;
	padding-top: 23px;
	opacity: $main-opacity;
	h2 {
		min-height: 1.4em;
		margin-bottom: 25px;
	}
}

.notice, .alert {
	border-left: 2px solid $basic-color;
	padding-left: 8px;
	color:$blue-color;	
	font-size: 1.2em;
}

/*-------------------------- forms -------------------------*/

#post_text {
	height: 250px;
	padding: 5px;
	font-size: 1rem;
}

#post_title {
	font-size: 2.3125rem;
	height: 59px;
	padding: 5px;
}


/*------------------------- effects ------------------------*/

.block-shadow-1
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.block-shadow-1:before, .block-shadow-1:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    border-radius:100px / 10px;
} 
.block-shadow-1:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}

.block-shadow-2 {
  position: relative;
}
.block-shadow-2:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}

.footer-message div{
	position:fixed;
	bottom:0;

  -webkit-animation: seconds 1.0s forwards;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 5s;
  animation: seconds 1.0s forwards;
  animation-iteration-count: 1;
  animation-delay: 5s;
}
@-webkit-keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}
@keyframes seconds {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: -9999px; 
  }
}